$font-main : 1.6rem;


// colors

$color-primary: #4DB6AC;
$box-shadow-color: rgba(161,150,150,0.50);
$green-light: lighten($color-primary, 40%); //#def1ef
$green-dark: darken($color-primary, 30%); //#1f4b47
$red: #c43a31;
