.brand-specific-page {
  display: flex;
  background: $green-light;
  min-height: calc(100vh - 10rem);
  justify-content: center;
  flex-direction: column;
  h3 {
    margin : 5rem auto;
    text-transform: uppercase;

  }
  .brand-specific-wrapper {
    margin: 0 auto;
    .graph-container {
      .ageBasedGraphs {
        margin-bottom: 10rem;
      }
      .sliders-wrapper {
        .switchcontainer {
          float: left;
        }
        .rangeSlidecontainer {
          display: flex;
          justify-content: flex-end;
        }
      }

      .VictoryContainer {
        width: 100%;
      }
    }

    .iframe-container {
      margin-top: 5rem;
      iframe {
        width: 100%;
        height: 60rem;
      }
      a {
        font-size: $font-main;
        color: $grey-mid;
        text-decoration: none;
        margin-bottom: 1rem;
        display: block;
        float: right;
        &:hover {
          cursor: pointer;
          color:  $grey-dark;
          text-decoration: underline;
        }
      }
    }


  }
}
