a.button {
    font-size: $font-main;
    border-radius: 0.2rem;
    height: 3rem;
    padding: 0rem 1rem;
    background-color: $green-light;
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
} 