header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color-primary;
  //background-image: linear-gradient(-90deg, $color-primary 0%, lighten($color-primary,20%) 100%);
  box-shadow: 0 2px 4px 0 $box-shadow-color;
  font-size: 3rem;
  text-transform: capitalize;
  color: white;

}