input {
  font-size: $font-main;
  border-radius: 0.2rem;
  &[type='text'] {
    margin: 1.5rem auto;
    border: 0.05rem solid $color-primary;
    height: 3rem;
    min-width: 25rem;
    padding: 0rem 1rem;
  }
  &[type='submit'] {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 3rem;
      color: white;
      background-color: $color-primary;
      margin: 2rem auto;
      box-shadow: 0 2px 5px 2px $box-shadow-color;
  }
  &[type='checkbox'] {
    &+label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.05rem solid white;
      border-radius: 0.05rem;
      font-size: $font-main;
      &:hover {
        border: 0.05rem solid transparent;
        cursor: pointer;
      }
    }
  }
}
